SEDIFEX_API_BASE_URL=https://us-central1-sedifex-web.cloudfunctions.net
SEDIFEX_INTEGRATION_API_BASE_URL=https://us-central1-sedifex-web.cloudfunctions.net
SEDIFEX_STORE_ID=your_gleam_store_id
NEXT_PUBLIC_SEDIFEX_STORE_ID=your_gleam_store_id
SEDIFEX_BOOKING_TARGET_STORE_ID=your_gleam_store_id
SEDIFEX_INTEGRATION_API_KEY=your_website_integration_key
SEDIFEX_PRODUCTS_API_KEY=your_website_integration_key
SEDIFEX_BOOKING_API_KEY=your_website_integration_key
SEDIFEX_CHECKOUT_API_KEY=your_website_integration_key
SEDIFEX_INTEGRATION_CHECKOUT_CREATE_URL=https://us-central1-sedifex-web.cloudfunctions.net/integrationCheckoutCreate
SEDIFEX_CHECKOUT_RETURN_URL=https://your-domain.com/payment/return
SEDIFEX_CONTRACT_VERSION=2026-04-13
